  #banner {
    height : 90vh;
    background-image: url("https://cdn.shopify.com/s/files/1/0065/5609/0423/files/home3_1600x.jpg?v=1677150999/images/banner.jpg");
    background-size : cover;
    background-position: bottom/top/center;
    display: flex; 
    flex-direction : column; 
    justify-content : center;
    align-items : under-left; 
    text-shadow : 1px 1px 1Px;
  }
