.btn-blue {
  color : white;
  background-color : yellow;
  font-weight : bold 
  border: 1px solid yellow; 
  border-radius : 6px; 
  padding : 16px; 
}


.btn-blue : hover {
  background-color : white; 
  color : blue;
}